li {
  list-style: none;
}
#todolist {
  display: inline-block;
}
#todolist section.wrapper {
  background: #da8a08;
  height: 600px;
  width: 400px;
  padding: 40px;
  text-align: center;
  border-radius: 30px;
}
#todolist div.task {
  padding: 20px;
}
#todolist div.task h2 {
  font-size: 40px;
  font-weight: 800;
}
#todolist div.task h2 img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
#todolist div.task input.input_data {
  padding: 10px;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: #938e86;
  cursor: pointer;
}

#todolist div.task button {
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
}
#todolist div.task button.add_task {
}
#todolist ul {
}
#todolist ul li {
}
ul li:hover {
  background: #f3eaea;
  cursor: pointer;
}
.toDo {
  display: flex;
  color: #000;
  margin: 50px;
  font-size: 2rem;
  justify-content: left;
}
