* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li ul {
  list-style: none;
}
section {
  background: #443b3b;
  height: 500px;
}

section div {
  background: #dff60f;
}

section div .top {
  padding: 30px;
  text-align: center;
}

section div .top h1 {
  font-size: 40px;
}

section div .top h1 img {
  height: 30px;
  width: 30px;
}
section div .top #input_data {
  padding: 8px;
  border-radius: 4px;
}
section div .top #task {
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(232, 13, 13);
  color: #fff;
  border: #dff60f;
}

section div .list {
}

section div .list #list_ul {
}

section div .list #list_ul li {
  color: #000;
  font-size: 20px;
  background: #eee8e8;
  padding: 10px;
  display: block;
}
section div .list #list_ul li :nth-child(odd) {
  background: #d29898;
}

section div .list #list_ul li .del {
  background: #443b3b;
  color: #fff;
}
section div .list .list_ul li img {
  width: 20px;
  height: 20px;
}
.strike {
  text-decoration: line-through;
}
li #list_li {
  display: none;
}
li.to {
  background-color: #dff60f;
}
#list_li {
  display: none;
}
